################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Weightless-Misc-Items/.vs/*
/Weightless-Misc-Items/bin
/Weightless-Misc-Items/obj
/Weightless-Misc-Items/bin/*
/Weightless-Misc-Items/obj/*
/Weightless-Misc-Items/obj/Weightless-Misc-Items.csproj.nuget.g.targets
/Weightless-Misc-Items/obj/Weightless-Misc-Items.csproj.nuget.g.props
/Weightless-Misc-Items/obj/Weightless-Misc-Items.csproj.nuget.dgspec.json
/Weightless-Misc-Items/obj/Release/net5.0/Weightless-Misc-Items.GeneratedMSBuildEditorConfig.editorconfig
/Weightless-Misc-Items/obj/Release/net5.0/Weightless-Misc-Items.assets.cache
/Weightless-Misc-Items/obj/Release/net5.0/Weightless-Misc-Items.AssemblyInfoInputs.cache
/Weightless-Misc-Items/obj/Release/net5.0/Weightless-Misc-Items.AssemblyInfo.cs
/Weightless-Misc-Items/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Weightless-Misc-Items/obj/project.nuget.cache
/Weightless-Misc-Items/obj/project.assets.json
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.GeneratedMSBuildEditorConfig.editorconfig
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.csprojAssemblyReference.cache
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.assets.cache
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.AssemblyInfoInputs.cache
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.AssemblyInfo.cs
/Weightless-Misc-Items/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/.vs/VSWorkspaceState.json
/.vs/Weightless-Misc-Items/v16/.suo
/.vs/Weightless-Misc-Items/DesignTimeBuild/.dtbcache.v2
/.vs/slnx.sqlite
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.pdb
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.genruntimeconfig.cache
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.dll
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.csproj.FileListAbsolute.txt
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.csproj.CoreCompileInputs.cache
/Weightless-Misc-Items/obj/Debug/net5.0/Weightless-Misc-Items.csproj.CopyComplete
/Weightless-Misc-Items/obj/Debug/net5.0/ref/Weightless-Misc-Items.dll
/Weightless-Misc-Items/obj/Debug/net5.0/apphost.exe
/Weightless-Misc-Items/bin/Debug/net5.0/System.Windows.Extensions.dll
/Weightless-Misc-Items/bin/Debug/net5.0/System.Security.Permissions.dll
/Weightless-Misc-Items/bin/Debug/net5.0/System.Reactive.dll
/Weightless-Misc-Items/bin/Debug/net5.0/System.Drawing.Common.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Synthesis.Bethesda.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Weightless-Misc-Items.runtimeconfig.json
/Weightless-Misc-Items/bin/Debug/net5.0/Weightless-Misc-Items.runtimeconfig.dev.json
/Weightless-Misc-Items/bin/Debug/net5.0/Weightless-Misc-Items.pdb
/Weightless-Misc-Items/bin/Debug/net5.0/Weightless-Misc-Items.exe
/Weightless-Misc-Items/bin/Debug/net5.0/Weightless-Misc-Items.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Weightless-Misc-Items.deps.json
/Weightless-Misc-Items/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Weightless-Misc-Items/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Weightless-Misc-Items/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Weightless-Misc-Items/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Weightless-Misc-Items/bin/Debug/net5.0/ref/Weightless-Misc-Items.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Noggog.CSharpExt.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Newtonsoft.Json.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Synthesis.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Skyrim.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Oblivion.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Kernel.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Json.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.FormKeys.SkyrimSE.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Fallout4.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Core.Windows.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Mutagen.Bethesda.Core.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
/Weightless-Misc-Items/bin/Debug/net5.0/Loqui.dll
/Weightless-Misc-Items/bin/Debug/net5.0/K4os.Hash.xxHash.dll
/Weightless-Misc-Items/bin/Debug/net5.0/K4os.Compression.LZ4.Streams.dll
/Weightless-Misc-Items/bin/Debug/net5.0/K4os.Compression.LZ4.dll
/Weightless-Misc-Items/bin/Debug/net5.0/INIFileParser.dll
/Weightless-Misc-Items/bin/Debug/net5.0/ICSharpCode.SharpZipLib.dll
/Weightless-Misc-Items/bin/Debug/net5.0/DynamicData.dll
/Weightless-Misc-Items/bin/Debug/net5.0/DotNetZip.dll
/Weightless-Misc-Items/bin/Debug/net5.0/CommandLine.dll
